@use './variables';
@use './mixins';

%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    &:hover {
        transform: scale(.98)
    }
}

.btn-primary {
    @extend %btn;
    @include mixins.set-background(lighten(variables.$primary-color, 10%));
}

.btn-secondary {
    @extend %btn;
    @include mixins.set-background(variables.$secondary-color)
}