@use './indexes';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: indexes.$light-color;
    font-family: indexes.$font-stack;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.showcase {
    @include indexes.set-background(indexes.$primary-color);
    height: 50vh;
    nav {
        @include indexes.makeFlex(space-between);
       ul {
            display: flex;
            list-style: none;

            li {
                padding: 15px;
            }
        }
        a:hover {
            color: indexes.$secondary-color;
        }
    }
}

.showcase-content {
    height: 100%;
    @include indexes.makeFlex(center);

    img {
        width: 50%;
    }

    h1 {
        font-size: 50px;
        line-height: 1.2;
    }

    p {
        margin: 20px;
    }
}

